*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
  scroll-behavior: smooth;
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
}

textarea {
  resize: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}